<div>
Socket Test


<form action="/socket/create" method="post">
<label for="n">Enter a fibonacci number:
<input type="text" name="n" id="n" required>
<button type="button" id="submitn">Get Result</button>
</label>

</form>

</div>
